.movie {
    position: relative;
    margin-bottom: 25px;
    margin:5px;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 8px;
    border-radius: 10px 10px 0 0;
    z-index: -1;
  }
  
  .figure {
    margin: 0;
    border: 1px solid #dbdbdb;
    border-radius: 10px 10px 0 0;
  }
  
  .img_button_container {
    position: relative;
  }
  
  .img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    object-fit: fill;
  }

  .error {
    object-fit: auto;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .figcaption ul {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    width: 200px;
  }
  
  span {
    font-weight: 600;
  }
  