.svg_container {
    width: 24px;
    height: 24px;
    padding: 5px;
    display: inline-block;
    background: #fffffff1;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 5px;
    right: 5px;
}

.svg_container div {
    margin-top: 1px;
}

.svg {
    height: 16px; 
    width: 16px; 
    display: block; 
    overflow: visible;
    fill: currentcolor;
    fill-opacity: 0;
    stroke: rgb(34, 34, 34);
    stroke-width: 1.4;
    stroke-linecap: round;
    stroke-linejoin: round;
}