.svg_container {
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
}
.svg {
    cursor: pointer;
    overflow: visible;
    width: 50px;
}

.checkbox {
    display: none;
}

.favourite svg {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.favourite path {
    fill: #C75C5C;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.5, 1.5, 1.5);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
} 