a {
  font-size: 2em;
  text-decoration: none;
}

a:visited {
  color: #F3F8FC;
}

h2 {
  display: inline-block;
  color: #3C434D;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: -40px 26px 20px lightgrey;
  margin: 20px 10px 10px;
}


body {
  margin: 0;
}
