a {
  font-size: 2em;
  text-decoration: none;
}

a:visited {
  color: #F3F8FC;
}

h2 {
  display: inline-block;
  color: #3C434D;
  padding: 25px 25px;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: -40px 26px 20px lightgrey;
  margin: 0 auto;
}


body {
  margin: 0;
}
