header {
  margin-bottom: 20px;
  height: 80px;
  color: white;
  background: #1d77ce;
}

nav {
  color: white;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 400px;
}

a {
  font-size: 2em;
  text-decoration: none;
}

a:visited {
  color: white;
}

h2 {
  display: inline-block;
  color: darkgray;
  padding: 25px 25px;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: -40px 26px 20px lightgrey;
  margin: 0 auto;
}


body {
  margin: 0;
}
