
.nav {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    padding: 0px 20px;
    z-index: 102; 
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    transition: height 0.5s ease;
  }
  
  .nav a {
    display: block;
    font-weight: 700;
    font-size: 20px;
    padding: 35px 0;
    margin: 0;
    line-height: 23px;
    color: #3C434D;
    border-bottom: 1px solid #3C434D;
  }
  
  a[data-added] {
    position: relative;
  }
  
  a[data-added]::before {
    font-size: 0.6em;
    position: absolute;
    top: 30%;
    left: 27%;
    content: attr(data-added);
    background-color: red;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 1.3em;
    border-radius: 50%;
  }
  
  @media screen and (min-width: 850px) { 
    .nav {
      display: block;
      font-size: 0.7rem;
      background-color: #1d77ce;
      margin: auto 0;
      padding: 0;
      height: max-content;
      width: auto;
      z-index: 0;
      position: inherit;
    }
  
    .nav a {
      display: inline;
      margin-right: 3vw;
      border-bottom: 0px;
      padding: 0;
    }
  
    .nav a:last-child {
      margin-right: 0px;
    }
  
    a[data-added]::before {
      top: -4px;
      right: -10px;
      left: auto;
    }
  }


  