.header {
  padding: 20px 5%;
  color: #F3F8FC;
  background: #1d77ce;
}

.container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 850px) { 
  .header {
    display: flex;
    justify-content: space-between;
  }
}
